{% extends '@gaelic/Default/base.html.twig' %}

{% block title %}

    Contact

{% endblock %}

{% block content %}
    <h1 class="accueilContact">Contact</h1>
    <div class="fondContact">
        <div class="fondEntrainement">
            <h2 class="trouver">Où nous trouver?</h2>
            {% set i = 0 %}
            {% for entrainement in entrainements %}
                {% if i < 3 %}
                    {% if i% 2 == 0 %}
                        <h3 class="day">{{ entrainement.titre }}</h3>
                        <div class="container-fluid">
                            <div class="container d-flex justify-content-between entrainement1">
                                <div class="p-2 w-100 bd-highlight"><img class="imgConnemara1" src="{{ asset('entrainement/'~entrainement.image~'') }}" alt=""></div>
                                <div class="p-2 flex-shrink-1 bd-highlight text-center connemaraText1 "><p>{{ entrainement.contenu|raw }}</p></div>
                            </div>
                        </div>
                    {% else %}
                        <h3 class="day">{{ entrainement.titre }}</h3>
                        <div class="container-fluid">
                            <div class="container d-flex justify-content-between  entrainement">
                                <div class="p-2 flex-shrink-1 bd-highlight text-center connemaraText"><p>{{ entrainement.contenu|raw }}</p></div>
                                <div class="p-2 w-100 bd-highlight"><img class="imgConnemara" src="{{ asset('entrainement/'~entrainement.image~'') }}" alt=""></div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}
        </div>

        <div class="bgContact ">

            <p class="infoContact">formulaire de contact!</p>

            {{ form_start(formView) }}

            <p class="labelContactForm">{{ form_label(formView.nom, 'Nom') }}</p>
            {{ form_widget(formView.nom, { 'attr': {'class': 'widgetContactForm'} }) }}

            <p class="labelContactForm">{{ form_label(formView.prenom, 'Prénom') }}</p>
            {{ form_widget(formView.prenom, { 'attr': {'class': 'widgetContactForm'} }) }}

            <p class="labelContactForm">{{ form_label(formView.email, 'Email') }}</p>
            {{ form_widget(formView.email, { 'attr': {'class': 'widgetContactForm'} }) }}

            <p class="labelContactForm">{{ form_label(formView.sujet, 'Sujet') }}</p>
            {{ form_widget(formView.sujet, { 'attr': {'class': 'widgetContactForm'} }) }}

            <p class="labelContactForm">{{ form_label(formView.message, 'Votre message') }}</p>
            {{ form_widget(formView.message, { 'attr': {'class': 'messageContactForm'} }) }}


            <p class="labelContactForm">{{ form_row(formView.submit, { 'label': 'Envoyer', 'attr': {'class': 'boutonEnvoyer'} }) }}</p>

            {{ form_end(formView) }}

        </div>
    </div>
{% endblock %}