{% include '@gaelic/Default/gaelic.html.twig' %}

{% block article %}


    <div class="container-fluid new">
        <div class="actuGaelic text-center"><h2>Actualité</h2></div>
        {% set i = 0 %}
        {% for new in news | reverse %}
            {% if i < 3 %}
                {% if i%2 == 0 %}

                    <div class="text-center titreNew"><p>{{ new.titre }}</p></div>
                    <div class="row">
                        <div class="container d-flex justify-content-center m-t-4 m-b-2 blocActualite">
                            <div class="col-lg-4"><img class="img-fluid imgActualite" src="{{ asset('new/'~new.image~'') }}" alt=""></div>
                            <div class="col-lg-8 text-justify"><textarea>{{ new.contenu|raw }}</textarea></div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center titreNew"><p>{{ new.titre }}</p></div>
                    <div class="row">
                        <div class="container d-flex justify-content-center m-t-4 m-b-4 blocActualite">
                            <div class="col-lg-8 text-justify textar"><textarea><p>{{ new.contenu|raw }}</p></textarea></div>
                            <div class="col-lg-4"><img class="img-fluid imgActualite" src="{{ asset('new/'~new.image~'') }}" alt=""></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
        <div class="">

            <div><img class="avantFooter" src="{{ asset('images/bandeau.png') }}" alt=""></div>

        </div>

    </div>
{% endblock %}

