{% extends '@gaelic/Default/base.html.twig' %}

{% block title %}

    Partenaire

{% endblock %}

{% block content %}
<div class="fondPartenaire">
    {% set i = 0 %}
    {% for entrainement in entrainements %}
    <div class="col-lg-12 text-center titreConnemara"><h2>C{{ entrainement.titre }}</h2></div>
    <div class="container-fluid">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="p-2 w-100 bd-highlight"><img class="imgConnemara" src="{{ asset('entrainement/'~entrainement.image~'') }}" alt="lundi entrainement"></div>
            <div class="p-5 flex-shrink-1 bd-highlight text-right"><p>{{ entrainement.contenu|raw }}</p></div>
        </div>
    </div>
    <div class="col-lg-12 text-center titreTeam"><h2>{{ entrainement.titre }}</h2></div>
    <div class="container-fluid">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="p-5 flex-shrink-1 bd-highlight text-left"><p>{{ entrainement.contenu|raw }}</p></div>
            <div class="p-2 w-100 bd-highlight"><img class="imgConnemara" src="{{ asset('entrainement/'~entrainement.image~'') }}" alt=" jeudi entrainement"></div>
        </div>
    </div>
    {% endfor %}
</div>
    <nav>
        <div class="d-flex align-items-center justify-content-around menuMaillot">
            <div><img class="logoMaillot" src="{{ asset('images/bordeaux.jpg') }}" alt="logo"></div>
            <div><h1>Nos maillots</h1></div>
            <div><img class="logoMaillot" src="{{ asset('images/bordeaux17.jpg') }}" alt="logo"></div>
        </div>
    </nav>

    {% endblock %}